<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Nuevo Partido Ping Pong</title>
</head>

<body>
  <h1>Registrar un nuevo partido</h1>
  <form id=load_match action="/matches" method="POST">
    <label for="player_1_id">Jugador 1:</label>
    <input type="text" id="player_1_id" name="player_1_id" required><br><br>

    <label for="player_2_id">Jugador 2:</label>
    <input type="text" id="player_2_id" name="player_2_id" required><br><br>

    <button type="submit">Guardar partido</button>
  </form>
</body>
<script src="/scripts/load_match.js" type="module"></script>

</html>